:root {
  --font-color-primary: #757575;
  --title-color-primary: #212121;
  --logo-color1: #2196F3;
  --logo-color2: #000000;
  --color-accent: #2196F3;

  --section-color-primary: #ffffff;
  --section-color-other: #F5F4FA;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;

}

a {
text-decoration: none;
}
ul,li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none
}


body {
  display: grid;
  grid-template-rows: 80px auto 252px;
  align-items: center;
    justify-content: center;
}
.nav{
  display: flex;
}